@{
    ViewBag.Title = "Sistema Web";
}


<div class="jumbotron">
    <h1>SMART WMS</h1>
    <p class="lead">Controle robusto de gerenciamento de armazém, através de técnicas e conhecimento obtido “in-loco” a necessidade do mercado de agro.</p>
    <p><a href="~/Excel_File/Capturar.PNG" class="btn btn-primary btn-lg">Ler Mais &raquo;</a></p>
</div>





<div class="row">

    <div class="col-md-5">
        <iframe style="margin-left:3%" width="560" height="315" src="https://www.youtube.com/embed/U8D4yh9yorY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="col-md-4">
        <h2>Gestão</h2>
        <p>
            Gestão dos estoques em tempo real em que o responsável não precise controlá-lo o tempo todo, a fim de corrigir qualquer desvio causado por falta de conhecimento e controle
        </p>
        @*<p><a class="btn btn-default" href="~/Excel_File/Capturar.PNG">Ler Masis &raquo;</a></p>*@
        <h2>Metodologia</h2>
        <p>Para que o projeto possa trazer resultados inovadores em quesito de tecnologia, torna-se necessário utilizar a metodologia Scrum, trazendo maior agilidade e permitindo mudanças constantes em seus pequenos ciclos. </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-3">
        <h2> Desenvolvimento</h2>
        <p>
            O sistema terá como plataforma de programação a linguagem de programação C#, linguagem de marcação de texto HTML e CSS, framework Bootstrap e ASP.NET Core, banco de dados SQL Server , modelo de análise POO (Programação Orientado a Objetos)
            e padrão MVC(View, Model, Controller). Outros frameworks podem vir a ser adicionados conforme a evolução do projeto. .
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>

</div>
Atualizado 30/01 as 16:00
